[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "==1.13.1"
torchaudio = "*"
torchvision = "*"
pandas = "*"
bids = "*"
nilearn = "*"
nibabel = "*"
sympy = "*"
numpy = "*"
lightning = {extras = ["extra"], version = "*"}
datalad = "*"

[dev-packages]

[requires]
python_version = "3.10"
