cpuonly
datasets
datalad
einops
ipywidgets
lightning
nibabel
nilearn
numpy==1.25.*
pybids
pynvml
pyparsing
scikit-learn
sentencepiece
setuptools
simple-parsing
pytorch == 2.0.*
python == 3.10
torchaudio
torchvision
torchmetrics
tokenizers>=0.13.3
tqdm
transformers == 4.31.*
wandb
webdataset
wheel
