datasets
datalad
einops
ipywidgets
lightning
nibabel
nilearn
numpy
pybids
pynvml
pyparsing
scikit-learn
sentencepiece
setuptools
simple-parsing
torch
torchaudio
torchvision
tqdm
transformers
wandb
webdataset
wheel